<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <title>Tap Into Source</title>
    <link rel="icon" type="image/x-icon" href="/public/img/clean-water.png" />
    <link rel="stylesheet" href="css/{{style}}" />
  </head>

  <body class="flex-column min-100-vh">

    <main class="col-auto">
      {{{body}}}
    </main>

    <footer class="flex-row justify-center">

    </footer>
  </body>

</html>