<body>
        <div class="topnav" id="example10">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
     
        </div>
        <header>
            <h1 id="example10">Tap Into Source</h1>
        </header>
        <div class="background-image">
            <style>
            body {
              background-image: url('/img/cover_photo.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;

            }
            </style>
        </div class="background-image">
      
      
    </body>
</html>