<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Tap Into Source</title>
        <link rel="icon" type="image/x-icon" href="assets/img/clean-water.png" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="css/home.css" rel="stylesheet" />
    </head>
    <body>
        <div class="topnav">
            <a href="#login">Login</a>
            <a href="#sign up">Signup</a>
        </div>
        <header>
            <h1>Tap Into Source</h1>
        </header>
        <div class="background-image">
            <style>
            body {
              background-image: url('assets/img/cover_photo.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;

            }
            </style>
        </div class="background-image">
      
        <div class="wrapper">
            <a href="something" class="button3">Let's Get Started</a>
        </div>
    </body>
</html>