{{!-- <link rel=¨stylesheet¨ type=¨text/css¨ href=¨..\[public]\[style].css¨> --}}
<div class="col-md-4" id="sticky-map">
  <div>
    map
  </div>
</div>


<div class="py-5 text-center">
  <h2>Add New Water Source</h2>
  <p class="lead">Answer the folowing prompts to add a new watersource to our
    public database</p>
</div>
<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Drop a Pin</span>
    </h4>
  </div>

{{! Date visited, time of day, season }}
{{!-- <div class="form-group">
  <label for="inputState">Calendar</label>
  <div class='input-group date w150' id='datetimepicker1'>
    <input type='text' class="form-control" />
    <span class="input-group-addon">
    <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
    </span>
  </div>
</div> --}}

{{! Dog friendly? }}
<div class="form-outline w-25 mb-4">
    <h4>Dog friendly?</h4>
      <textarea class="form-control" id="dogs" rows="3"></textarea>
</div>

{{! Water Source}}
<div class="col-md-8 order-md-1">
    <h4 class="mb-3">Follow the Prompts</h4>
          <div class="row">
        <div class="col-md-5 mb-3">
  <form id="post-form">
        <label>What Type of Water Source?</label>
          <select class="custom-select d-block w-100" id="type" required="">
            <option value="">Choose...</option>
            <option>Waterfall</option>
            <option>Lake</option>
            <option>Cold Spring</option>
            <option>Hot Spring</option>
            <option>River</option>
            <option>Pond</option>
            <option>Creek</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid water source.
          </div>
        
        {{!-- address --}}
         <div class="row">
        <div class="col-md-5 mb-3">
          <label for="country">Country</label>
          <select class="custom-select d-block w-100" id="country" required="">
            <option value="">Choose...</option>
            <option>United States</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="state">State</label>
          <select class="custom-select d-block w-100" id="state" required="">
            <option value="">Choose...</option>
            <option>Alabama</option>
            <option>Alaska</option>
            <option>Arizona</option>
            <option>Arkansas</option>
            <option>California</option>
            <option>Colorado</option>
            <option>Connecticut</option>
            <option>Delaware</option>
            <option>Florida</option>
            <option>Florida</option>
            <option>Hawaii</option>
            <option>Idaho</option>
            <option>Illinois</option>
            <option>Indiana</option>
            <option>Iowa</option>
            <option>Kansas</option>
            <option>Kentucky</option>
            <option>Louisiana</option>
            <option>Maine</option>
            <option>Maryland</option>
            <option>Massachusetts</option>
            <option>Michigan</option>
            <option>Minnesota</option>
            <option>Mississippi</option>
            <option>Missouri</option>
            <option>Montana</option>
            <option>Nebraska</option>
            <option>Nevada</option>
            <option>New Hampshire</option>
            <option>New Jersey</option>
            <option>New Mexico</option>
            <option>New York</option>
            <option>North Carolinav</option>
            <option>North Dakota</option>
            <option>Ohio</option>
            <option>Oklahoma</option>
            <option>Oregon</option>
            <option>Pennsylvania</option>
            <option>Rhode Island</option>
            <option>South Carolina</option>
            <option>South Dakota</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Utah</option>
            <option>Vermont</option>
            <option>Virginia</option>
            <option>Washington</option>
            <option>West Virginia</option>
            <option>Wisconsin</option>
            <option>Wyoming</option>
         </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label>Zip</label>
          <input
            type="text"
            class="form-control"
            id="zip"
            placeholder=""
            required=""
          />
          <div class="invalid-feedback">
            Zip code required.
          </div>
        </div>
      </div>
    <div class="mb-3">
        <label for="">Closest Address to Water Source</label>
        <input
          type="text"
          class="form-control"
          id="closestAddress"
          placeholder="1234 Main St"
          required=""
        />

{{! Moving or Still? }} 
<h4 class="mb-3">Moving or Still Water?</h4>
<div id="movingOrStill">
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="movingWater">
  <label class="form-check-label" for="inlineCheckbox1">Moving Water</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="stillWater">
  <label class="form-check-label" for="inlineCheckbox1">Still Water</label>
</div>
</div>
    
{{!-- Water Source --}}
<h4 class="mb-3">Water Source</h4>
<div class="form-check form-checkbox">
  <input class="form-check-input" type="checkbox" id="Checkbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Rain Water</label>
</div>

<div class="form-check form-checkbox">
  <input class="form-check-input" type="checkbox" id="Checkbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox1">Snow Water</label>
</div>

<div class="form-check form-checkbox">
  <input class="form-check-input" type="checkbox" id="Checkbox3" value="option3">
  <label class="form-check-label" for="inlineCheckbox1">Ground Water</label>
</div>

    
{{! Water Testing }}
<h4 class="mb-3" class="form-group"><label for="exampleFormControlSelect2">Did you test the water?</label>
</h4>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
 <a href="#" class="list-group-item list-group-item-action list-group-item-primary">1. Lead - positive (>15ppb) / negative (<15ppb)</a>
  <label class="form-check-label" for="inlineCheckbox1"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
<a href="#" class="list-group-item list-group-item-action list-group-item-secondary">2. pH levels - 0 to 14, most acidic to most basic</a>
  <label class="form-check-label" for="inlineCheckbox1"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option3">
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">3. Total alkalinity - (0, 40, 80, 120, 180, 240, 500)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option4">
  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">4. Copper - 0 to 2 (0.0, 0.05, 0.1, 0.2, 0.4, 1.0, 2.0)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option5">
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">5. Nitrate - (0, 2, 10, 20, 50)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option6">
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">6. Nitrite - (0, 0.2, 1.0, 1.5, 3.0)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option7">
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">7. Chlorine - (0, 0.2, 1.0, 4.0, 10)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option8">
  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">8. Hardness - (0, 50, 120, 250, 425, 1000)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option9">
  <a href="#" class="list-group-item list-group-item-action list-group-item-purple">9. Coliform bacteria present? y/n</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>


{{! Which tests were done? What were the results?}}
  <h4 class="form-group">
    <label for="exampleFormControlTextarea1">Which tests were done? What were the results?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </h4>

{{! Accessibility}}
<h4 class="col-md-4 mb-3">
  <label for="state">Accessibility</label>
  <select class="custom-select d-block w-100" id="accessibility" required="">
</h4>
  <option value="">Choose...</option>
    <option>I hiked in!</option>
    <option>I drove right up!</option>
    <option>I did some hiking AND some driving</option>
  </select>
</div>

{{! Trail Difficulty}}
<h4 class="col-md-4 mb-3">
  <label for="difficulty">Trail Difficulty</label>
  <select class="custom-select d-block w-100" id="trailDifficulty" required="">
</h4>
  <option value="">If applicable...</option>
    <option>easy</option>
    <option>moderate</option>
    <option>hard</option>
  </select>
</div>

{{! Parking }}
<div class="form-outline w-25 mb-4">
  <h6 class="form-label">Is there parking? If so, please write any info that would help others</h6>
  <textarea class="form-control" id="parking" rows="3"></textarea>
</div>
        
{{! Depth }}  
<div class="form-outline w-25 mb-4">
      <h4>Depth</h4>
      <h6> ex: 35" or I'm 5'4 and the water was waist level on me</h6>
      <h7>Swimmable?</h7>
      <textarea class="form-control" id="depth" rows="3"></textarea>
</div>
     
{{! Foot traffic }}
<h4 class="col-md-4 mb-3">
  <label>Foot traffic</label>
  <select class="custom-select d-block w-100" id="footTraffic" required="">
</h4>
  <option value=""></option>
    <option>easy</option>
    <option>moderate</option>
    <option>hard</option>
  </select>
  <textarea class="form-control" id="depth" rows="3"></textarea>
<button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>      
</form>
</div>
</div>
<script src = "/js/post.js"> </script>


{{! Starfish Rating }}
{{!-- <div id="rating" class="star-rating" data-rating="3">
  <span class="star" data-value="1">&#9733;<span class="star-notification">Abysmal</span></span>
  <span class="star" data-value="2">&#9733;<span class="star-notification">Bad</span></span>
  <span class="star" data-value="3">&#9733;<span class="star-notification">Ok</span></span>
  <span class="star" data-value="4">&#9733;<span class="star-notification">Good</span></span>
  <span class="star" data-value="5">&#9733;<span class="star-notification">Excellent</span></span>
</div> --}}

        




        
        

  

    

     
      