<a href="/">Tap in to Source</a>
<a href="/profile">Go Back</a>

<div id="parent-card">

{{! Google Mapa API }}
  <h4 class="text-center pin">Water Source Location</h4>

<div class="d-flex justify-content-center" id="map">
 
 
</div>

{{! Prompts }}
<div class="container-fluid" id="prompts-card">
<div>
<div class="py-5 text-center">
  <h2>Add New Water Source</h2>
  <p class="lead"><span>  Answer the folowing prompts to add a new watersource to our
    public database   </span></p>
</div>

{{! Water Source}}
<form id="post-form">  
        <label><h4>What Type of Water Source?</label></h4>
          <select class="custom-select d-block w-100" id="type" required="">
            <option value="">Choose...</option>
            <option>Waterfall</option>
            <option>Lake</option>
            <option>Cold Spring</option>
            <option>Hot Spring</option>
            <option>River</option>
            <option>Pond</option>
            <option>Creek</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid water source.
          </div>
        
        {{!-- address --}}
         <div class="row">
        <div class="col-md-5 mb-3 mt-3">
          <label for="country">Country</label>
          <select class="custom-select d-block w-100" id="country" required="">
            <option value="">Choose...</option>
            <option>United States</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>
        <div class="col-md-4 mb-3 mt-3">
          <label for="state">State</label>
          <select class="custom-select d-block w-100" id="state" required="">
            <option value="">Choose...</option>
            <option>Alabama</option>
            <option>Alaska</option>
            <option>Arizona</option>
            <option>Arkansas</option>
            <option>California</option>
            <option>Colorado</option>
            <option>Connecticut</option>
            <option>Delaware</option>
            <option>Florida</option>
            <option>Florida</option>
            <option>Hawaii</option>
            <option>Idaho</option>
            <option>Illinois</option>
            <option>Indiana</option>
            <option>Iowa</option>
            <option>Kansas</option>
            <option>Kentucky</option>
            <option>Louisiana</option>
            <option>Maine</option>
            <option>Maryland</option>
            <option>Massachusetts</option>
            <option>Michigan</option>
            <option>Minnesota</option>
            <option>Mississippi</option>
            <option>Missouri</option>
            <option>Montana</option>
            <option>Nebraska</option>
            <option>Nevada</option>
            <option>New Hampshire</option>
            <option>New Jersey</option>
            <option>New Mexico</option>
            <option>New York</option>
            <option>North Carolinav</option>
            <option>North Dakota</option>
            <option>Ohio</option>
            <option>Oklahoma</option>
            <option>Oregon</option>
            <option>Pennsylvania</option>
            <option>Rhode Island</option>
            <option>South Carolina</option>
            <option>South Dakota</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Utah</option>
            <option>Vermont</option>
            <option>Virginia</option>
            <option>Washington</option>
            <option>West Virginia</option>
            <option>Wisconsin</option>
            <option>Wyoming</option>
         </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3 mt-3">
          <label>Zip</label>
          <input
            type="text"
            class="form-control"
            id="zip"
            placeholder=""
            required=""
          />
          <div class="invalid-feedback">
            Zip code required.
          </div>
        </div>
      </div>
    <div class="mb-3">
        <label for="">Closest Address to Water Source</label>
        <input
          type="text"
          class="form-control"
          id="closestAddress"
          placeholder="1234 Main St"
          required=""
        /></div>

{{! container for first row of form }}
<div class="container">
  <div class="row">
{{! Moving or Still? }} 
<div class="col">

<h4>Moving or Still Water?</h4>
<div id="movingOrStill">
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="movingWater">
  <label class="form-check-label" for="inlineCheckbox1">Moving Water</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="stillWater">
  <label class="form-check-label" for="inlineCheckbox1">Still Water</label>
</div>
</div>
</div> 

{{!-- Water Source --}}
<div class="col">

<h4>Water Source</h4>
<div class="form-check form-checkbox">
  <input class="form-check-input" type="checkbox" id="Checkbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Rain Water</label>
</div>

<div class="form-check form-checkbox">
  <input class="form-check-input" type="checkbox" id="Checkbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox1">Snow Water</label>
</div>

<div class="form-check form-checkbox">
  <input class="form-check-input" type="checkbox" id="Checkbox3" value="option3">
  <label class="form-check-label" for="inlineCheckbox1">Ground Water</label>
</div>

</div>

{{! Depth }}  
<div>
      <h4><center>Depth</center></h4>
      <h8> ex: 35", 1.6256 m 
        or 'I'm 5'4 and the water was waist level on me'</h8>
      <h6><center>Swimmable?</center></h6>
      <textarea class="form-control" id="depth"></textarea>
</div>
{{! end of first row }}
</div>
  </div>

{{! beginning of row }}
<div class="container-fluid">
  <div class="row mt-3">
{{! Accessibility}}
<div class="col">
  <h4>
    <label>Accessibility</label>
  </h4>
  <select class="custom-select d-block w-100" value: "" id="accessibility" required="">
  <option value="">Choose...</option>
    <option>I hiked in!</option>
    <option>I drove right up!</option>
    <option>I did some hiking AND some driving</option>
  </select>
</div>

{{! Trail Difficulty}}
<div class="col">
  <h4>
    <label for="difficulty">Trail Difficulty</label>
  </h4>
  <select class="custom-select d-block w-100" value="" id="trailDifficulty" required="">
  <option value="">If applicable...</option>
    <option>easy</option>
    <option>moderate</option>
    <option>hard</option>
  </select>
</div>
{{! Parking }}
<div class="col">
<div>
    <h4>Parking?</h4>
      <textarea class="form-control" id="parking" placeholder="Please write any info that would help others"></textarea>
</div>
</div> 
{{! Foot traffic }}
<div class="col">
  <h4>
    <label>Foot traffic</label>
  </h4>
<select class="custom-select d-block w-100" value="" id="footTraffic" required="">
  <option>Choose...</option>
  <option>a lil</option>
  <option>moderate</option>
  <option>heavy</option>
</select>
</div>
{{! Dog friendly? }}
<div class="col">
<div>
    <h4>Dog friendly?</h4>
      <textarea class="form-control" id="dogs"></textarea>
</div>
</div>
{{! end of row }}
  </div>
</div>

{{! 2nd row container }}
<div class="container">
  <div class="row mt-3">
{{! Water Testing }}
<div class="col">
<h4 class="form-group"><label for="exampleFormControlSelect2">Did you test the water?</label></h4>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
 <a href="#" class="list-group-item list-group-item-action list-group-item-primary">1. Lead - positive (>15ppb) / negative (<15ppb)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
<a href="#" class="list-group-item list-group-item-action list-group-item-secondary">2. pH levels - 0 to 14, most acidic to most basic</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option3">
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">3. Total alkalinity - (0, 40, 80, 120, 180, 240, 500)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option4">
  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">4. Copper - 0 to 2 (0.0, 0.05, 0.1, 0.2, 0.4, 1.0, 2.0)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option5">
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">5. Nitrate - (0, 2, 10, 20, 50)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option6">
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">6. Nitrite - (0, 0.2, 1.0, 1.5, 3.0)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option7">
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">7. Chlorine - (0, 0.2, 1.0, 4.0, 10)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option8">
  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">8. Hardness - (0, 50, 120, 250, 425, 1000)</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option9">
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">9. Coliform bacteria present? y/n</a>
  <label class="form-check-label" for="inlineCheckbox2"></label>
</div>
</div>

{{! What were the results?}}
<div class="col">
<h4>
  <label>What were the results?</label>
  <textarea class="form-control mt-2" id="testResults"></textarea>
</h4>
</div>
{{! end of 2nd row }}
  </div>
</div>


<button class="btn btn-primary btn-lg btn-block mt-3" type="submit" id="postButton">Post!</button> 
</form>
</div>
</div>
</div>
</div>
</div>

<script src = "/js/post.js"> </script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{{!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_YP8aCoVnnRWfhHT6ozNbDEFPhshZ81s&callback=initMap">
</script>
<script src="https://unpkg.com/@googlemaps/js-api-loader@1.0.0/dist/index.min.js"></script> --}}

