<div class="py-5 text-center">
  <h2>Add New Water Source</h2>
  <p class="lead">Answer the folowing prompts to add a new watersource to our
    public database</p>
</div>
<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Drop a Pin</span>
    </h4>

  </div>
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Follow the Prompts</h4>
          <div class="row">
        <div class="col-md-5 mb-3">
        <form id="post-form">
         <label>What Type of Water Source?</label>
          <select class="custom-select d-block w-100" id="type" required="">
            <option value="">Choose...</option>
            <option>Waterfall</option>
            <option>Lake</option>
            <option>Cold Spring</option>
            <option>Hot Spring</option>
            <option>River</option>
            <option>Pond</option>
            <option>Creek</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid water source.
          </div>
        
        {{!-- address --}}
         <div class="row">
        <div class="col-md-5 mb-3">
          <label for="country">Country</label>
          <select class="custom-select d-block w-100" id="country" required="">
            <option value="">Choose...</option>
            <option>United States</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="state">State</label>
          <select class="custom-select d-block w-100" id="state" required="">
            <option value="">Choose...</option>
            <option>Alabama</option>
            <option>Alaska</option>
            <option>Arizona</option>
            <option>Arkansas</option>
            <option>California</option>
            <option>Colorado</option>
            <option>Connecticut</option>
            <option>Delaware</option>
            <option>Florida</option>
            <option>Florida</option>
            <option>Hawaii</option>
            <option>Idaho</option>
            <option>Illinois</option>
            <option>Indiana</option>
            <option>Iowa</option>
            <option>Kansas</option>
            <option>Kentucky</option>
            <option>Louisiana</option>
            <option>Maine</option>
            <option>Maryland</option>
            <option>Massachusetts</option>
            <option>Michigan</option>
            <option>Minnesota</option>
            <option>Mississippi</option>
            <option>Missouri</option>
            <option>Montana</option>
            <option>Nebraska</option>
            <option>Nevada</option>
            <option>New Hampshire</option>
            <option>New Jersey</option>
            <option>New Mexico</option>
            <option>New York</option>
            <option>North Carolinav</option>
            <option>North Dakota</option>
            <option>Ohio</option>
            <option>Oklahoma</option>
            <option>Oregon</option>
            <option>Pennsylvania</option>
            <option>Rhode Island</option>
            <option>South Carolina</option>
            <option>South Dakota</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Utah</option>
            <option>Vermont</option>
            <option>Virginia</option>
            <option>Washington</option>
            <option>West Virginia</option>
            <option>Wisconsin</option>
            <option>Wyoming</option>
         </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label>Zip</label>
          <input
            type="text"
            class="form-control"
            id="zip"
            placeholder=""
            required=""
          />
          <div class="invalid-feedback">
            Zip code required.
          </div>
        </div>
      </div>
    <div class="mb-3">
        <label for="">Closest Address to Water Source</label>
        <input
          type="text"
          class="form-control"
          id="closestAddress"
          placeholder="1234 Main St"
          required=""
        />
     {{! Moving or Still? }}   
    <h4 class="mb-3">Moving or Still Water?</h4>

      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input
            id="moving"
            name="water"
            type="radio"
            class="custom-control-input"
            checked=""
            required=""
          />
          <label class="custom-control-label" for="moving">Moving Water</label>
        </div>
        <div class="custom-control custom-radio">
          <input
            id="still"
            name="water"
            type="radio"
            class="custom-control-input"
            required=""
          />
          <label class="custom-control-label" for="still">Still Water</label>
        </div>
      </div>
    
{{!-- starts here --}}
<h4 class="mb-3">Water Source</h4>

      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input
            id="rainwater"
            name="source"
            type="radio"
            class="custom-control-input"
            checked=""
            required=""
          />
          <label class="custom-control-label" for="rainwater">Rain Water</label>
        </div>
        <div class="custom-control custom-radio">
          <input
            id="snowwater"
            name="source"
            type="radio"
            class="custom-control-input"
            required=""
          />
          <label class="custom-control-label" for="snowwater">Snow Water</label>
        </div>
        <div class="custom-control custom-radio">
          <input
            id="groundwater"
            name="source"
            type="radio"
            class="custom-control-input"
            required=""
          />
          <label class="custom-control-label" for="groundwater">Ground Water</label>
        </div>
      </div>
    


      {{!-- {{! tested? }}
          <div class="mb-3">Did you test the water?

      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input
            id="moving"
            name="water"
            type="radio"
            class="custom-control-input"
            checked=""
            required=""
          />
          <label class="custom-control-label" for="moving">Moving Water</label>
        </div>
         --}}
        
        
        
        
        
        
        
        
        
        
        {{! working code examples for layout...}}
        <div class="invalid-feedback">
          Please enter your shipping address.
        </div>
      </div>
            <hr class="mb-4" />
      <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to
        checkout</button>
    </form>
  </div>
</div>
<script src = "/js/post.js"> </script>
    
    
    
    
    
    
    
    
    <form class="needs-validation" novalidate="">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">First name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder=""
            value=""
            required=""
          />
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Last name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder=""
            value=""
            required=""
          />
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>


      <div class="mb-3">
        <label for="email">Email
          <span class="text-muted">(Optional)</span></label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="you@example.com"
        />
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>

  

    

     
      <hr class="mb-4" />
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="same-address" />
        <label class="custom-control-label" for="same-address">Shipping address
          is the same as my billing address</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="save-info" />
        <label class="custom-control-label" for="save-info">Save this
          information for next time</label>
      </div>
      <hr class="mb-4" />

      {{!-- <h4 class="mb-3">Payment</h4>

      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input
            id="credit"
            name="paymentMethod"
            type="radio"
            class="custom-control-input"
            checked=""
            required=""
          />
          <label class="custom-control-label" for="credit">Credit card</label>
        </div>
        <div class="custom-control custom-radio">
          <input
            id="debit"
            name="paymentMethod"
            type="radio"
            class="custom-control-input"
            required=""
          />
          <label class="custom-control-label" for="debit">Debit card</label>
        </div>
        <div class="custom-control custom-radio">
          <input
            id="paypal"
            name="paymentMethod"
            type="radio"
            class="custom-control-input"
            required=""
          />
          <label class="custom-control-label" for="paypal">Paypal</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="cc-name">Name on card</label>
          <input
            type="text"
            class="form-control"
            id="cc-name"
            placeholder=""
            required=""
          /> --}}
          <small class="text-muted">Full name as displayed on card</small>
          <div class="invalid-feedback">
            Name on card is required
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="cc-number">Credit card number</label>
          <input
            type="text"
            class="form-control"
            id="cc-number"
            placeholder=""
            required=""
          />
          <div class="invalid-feedback">
            Credit card number is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="cc-expiration">Expiration</label>
          <input
            type="text"
            class="form-control"
            id="cc-expiration"
            placeholder=""
            required=""
          />
          <div class="invalid-feedback">
            Expiration date required
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="cc-expiration">CVV</label>
          <input
            type="text"
            class="form-control"
            id="cc-cvv"
            placeholder=""
            required=""
          />
          <div class="invalid-feedback">
            Security code required
          </div>
        </div>
      </div>
