<body>
  <div class="topnav">
    <button class="active" value="" href="/logout">Logout</button>
    <button class ="active" href="/search">Look Up Stream</button>
  </div>

  <div class="wrapper">

    <div class="sidebar">

      <div class="profile">
        <img
          src="water-drop-mascot-doing-thumbs-up-gesture-cute-design_152558-50632.webp"
        />
        <p>Welcome {{user.username}} !</p>

      </div>

      <ul>
        <li><a href="/post">Create a Post</a></li>
        <li><a href="">Delete a Post</a></li>
        <li><a href="">Account Settings</a></li>



      </ul>
    </div>
    <div class="flex-container">
        <div id="savedPosts">
            <div class="posts">This is one saved post.</div>
            <div class="posts">This is another saved post.</div>
        </div>
        
        <div id="chosenResults"></div>
    </div>

  </div>
  <div class="container-1">
    <h1>Your Water Sources</h1>
  </div>


<script src = "/js/profile.js"> </script>
</body>