<body>
    <div class="topnav">
        <a class="active" href="#logout">Logout</a>
        <a href="#search">Look Up Stream</a>
      </div>

    <div class="wrapper">
        
        <div class="sidebar">
           
           <div class="profile">
                <img src="water-drop-mascot-doing-thumbs-up-gesture-cute-design_152558-50632.webp">
                <h1>Profile</h1>
            </div>
            
            <ul>
                <li><a href="#">Create a Post</a></li>
                <li><a href="#">Your Posts</a></li>
                <li><a href="#">Delete Posts</a></li>
            </ul>
        </div>

    </div>
    <div class="container-1">
        <h1>Your Water Sources</h1>
    </div>

</body>

    
<script src="/public/js/"
