<p> this is where we will search for posts</p>

<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="search" role="tabpanel">
    <form id="search-form" class="card-body">
      <div>
        <label for="enter-zip"></label>
        <input
          type="text"
          id="zipcode-input-search"
          placeholder="Enter a Zip Code"
        />
      </div>
      <button type="submit" id="search-btn" class="btn">Look Up Stream</button>
    </form>
  </div>
</div>
<script src="/js/search.js"> </script>