<p> this is where we will search for posts</p>

<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="search" role="tabpanel">
    <form id="search-form" class="card-body">
      <div>
        <div>
          <label for="enter-zip"></label>
          <input
            type="text"
            id="zipcode-input-search"
            placeholder="Enter a Zip Code"
          />
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <button type="button" class="btn btn-success water">Waterfall</button>
          <button type="button" class="btn btn-success water">Lake</button>
          <button type="button" class="btn btn-success water">River</button>
          <button type="button" class="btn btn-success water">Pond</button>
          <button type="button" class="btn btn-success water">Creek</button>
          <button type="button" class="btn btn-success water">Hot Spring</button>
          <button type="button" class="btn btn-success water">Cold Spring</button>
        </div>
      </div>
      <button type="submit" id="search-btn" class="btn">Look Up Stream</button>
    </form>

  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>

<script src="/js/search.js"> </script>