<p> this is where we will search for posts</p>

<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="search" role="tabpanel">
    <form id="search-form" class="card-body">
      <div>
        <label for="enter-zip">Enter a Zip Code</label>
        <input type="text" id="zipcode-input-search" />
      </div>
      <button type="submit" id="search-btn" class="btn">Signup!</button>
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>
<script src="/js/signup.js"> </script>