#parent-card {
  width: 100%;
}

#api-card {
  width: 90%;
  height: 40%;
}

#prompts-card {
  width: 80%;
  overflow: scroll;
  background-color: rgb(161, 211, 230);
}

#postButton {
  background-color: rgb(76, 168, 204);
}
