a {
  position: relative;
  float: right;
  padding-top: 20px;
  padding-right: 40px;
  text-decoration: none;
  font-size: 20px;
  color: gray;
}

a:hover {
  text-decoration: none;
}

#parent-card {
  width: 100%;
  padding-top: 100px;
}

/* #map {
  width: 90%;
  height: 100%;
  text-align: center;
} */

#prompts-card {
  width: 1160px;
  overflow-y: auto;
  max-height: 600px;
  border-color: olivedrab;
  background-color: rgb(165, 217, 237);
  border-radius: 90px;
  border-style: solid;
  border-width: 3px;
  margin-bottom: 30px;
}

#prompts-card::-webkit-scrollbar {
  display: none;
}

#postButton {
  background-color: rgb(76, 168, 204);
  max-width: 260px;
  margin-left: 445px;
  margin-bottom: 30px;
}

span {
  background-color: olivedrab;
  color: white;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
}

#faux-google-pin {
  max-width: 800px;
  max-height: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  padding-top: 100px;
}

.pin {
  color: rgb(212, 25, 25);
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: bold;
}
