.topnav {
  background-color: rgb(78, 101, 32);
  overflow: hidden;
  width: 1427px;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e4eefa;
  color: black;
}

.topnav a.active {
  background-color: rgb(5, 68, 104);
  color: white;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #e4eefa;
}

.wrapper .sidebar {
  background: rgb(10, 82, 124);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h1 {
  color: white;
  font-size: 20px;
}

.wrapper .sidebar ul a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid white;
  color: white;
  font-size: 21px;
  position: relative;
}

.wrapper .sidebar ul a:hover,
.wrapper .sidebar ul a:active {
  color: black;
  background-color: #e4eefa;
}

.container-1 {
  text-align: center;
}

p {
  font-size: 20;
  color: white;
}

a:hover {
  text-decoration: none;
}
