.water-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.masthead {
  position: relative;
  overflow: visible;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
.masthead .masthead-content {
  position: relative;
  max-width: 40rem;
}
.masthead .masthead-content h1,
.masthead .masthead-content .h1 {
  font-size: 2.5rem;
}
.masthead .masthead-content p {
  font-size: 1.2rem;
}
.masthead .masthead-content p strong {
  font-weight: 700;
}

#zipcode-input-search {
  min-width: 400px;
  min-height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
}

#search-btn {
  min-width: 40px;
  min-height: 40px;
  position: relative;
  top: 5px;
  left: 7px;
  border-radius: 25px;
  color: rgb(13, 215, 255);
  background-color: olivedrab;
  border-style: solid;
  border-width: 2px;
  border-color: olivedrab;
  cursor: pointer;
}

.fa-droplet {
  min-height: 25px;
}

.water {
  background-color: olivedrab;
  border-color: olivedrab;
  border-radius: 10px;
  min-width: 5px;
}

.water-group {
  padding-right: 10px;
}

h1,
p,
#zipcode-input-search {
  margin-left: 20px;
}

.home {
  position: relative;
  z-index: 3;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  padding-left: 30px;
}

.home:hover,
.profile:hover {
  color: white;
  text-decoration: none;
}

.profile {
  position: relative;
  z-index: 3;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
}

@media (min-width: 992px) {
  .masthead {
    height: 100%;
    min-height: 0;
    padding-bottom: 50;
    padding-right: 70px;
  }
  .masthead:before {
    transform: skewX(-9deg);
    transform-origin: top right;
  }
}
@media (min-width: 1200px) {
  .masthead {
    width: 65vw;
  }
}
